{% macro errorList(errors) %}
    {% include "_base/_includes/forms/errorList" %}
{% endmacro %}

{# Inputs #}

{% macro hidden(config) -%}
    {% include "_base/_includes/forms/hidden" with config only %}
{%- endmacro %}

{% macro text(config) %}
    {% include "_base/_includes/forms/text" with config only %}
{% endmacro %}

{% macro password(config) %}
    {% include "_base/_includes/forms/password" with config only %}
{% endmacro %}

{% macro checkbox(config) %}
    {% include "_base/_includes/forms/checkbox" with config only %}
{% endmacro %}


{% macro checkboxGroup(config) %}
    {% include "_base/_includes/forms/checkboxGroup" with config only %}
{% endmacro %}


{# Fields #}


{% macro field(config, input) %}
    {% include "_base/_includes/forms/field" with config|merge({ input: input }) only %}
{% endmacro %}


{% macro textField(config) %}
    {% set config = config|merge({id: config.id ?? "text#{random()}"}) %}
    {% if config.unit is defined %}
        {% set input %}
            <div class="flex">
                <div class="textwrapper">{{ _self.text(config) }}</div>
                <div class="label light">{{ config.unit }}</div>
            </div>
        {% endset %}
    {% else %}
        {% set input = _self.text(config) %}
    {% endif %}
    {{ _self.field(config, input) }}
{% endmacro %}


{% macro passwordField(config) %}
    {% set config = config|merge({id: config.id ?? "password#{random()}"}) %}
    {{ _self.field(config, _self.password(config)) }}
{% endmacro %}